.sr-only {
  overflow:hidden;
  position: absolute;
  top:0;
  left:0;
  border:none;
  clip:rect(0,0,0,0);
  width:1px;
  height: 1px;
  margin: -1px;
}
caption {
  overflow:hidden;
  top:0;
  left:0;
  border:none;
  clip:rect(0,0,0,0);
  width:1px;
  height: 1px;
  margin: -1px;
  padding:0;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  color: #727272;
  text-decoration: none;
  font-size: 12px;
  font-family:'Malgun Gothic','맑은 고딕','Apple SD Gothic Neo',sans-serif;
  line-height: 1;
  font-style: normal;
}
/*img {
  display: block;
}*/
a:hover {
  color: #1e96c4;
}
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  color: #727272;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  max-width: 100%;
  width: 100%;
  empty-cells: show;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul,
li {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
table th,
table td {
  border-bottom: 1px solid #eee;
}
input {
  vertical-align: middle;
  padding: 0;
  margin: 0;
  font-family:'Malgun Gothic','맑은 고딕','Apple SD Gothic Neo',sans-serif;
}
input[type="text"],
input[type="password"] {

  border: 1px solid #dcdcdc;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 6px;
  color: #777;
}
input[type="checkbox"],
input[type="radio"] {
  width: 13px;
  height: 13px;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  margin-bottom: 1px;
}
input[type="image"] {
  margin: 0;
  padding: 0;
  border: 0 none;
  -webkit-appearance: none;

}
select {
  vertical-align: middle;
  margin: 0;
  padding: 0;
  font-size: 12px;
  padding: 3px;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  background-color:transparent;
  border:none;
}
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}
/* Normalize buttons in IE */
button {
  width: auto;
  overflow: visible;
}
/* Hand cursor on clickable controls */
input[type="reset"],
input[type="submit"],
input[type="file"],
input[type="radio"],
input[type="checkbox"],
select,
label,
button {
  cursor: pointer;
}
.cerft-footer {
  position:relative;
  width: 1000px;
  margin: 20px auto 30px;
}
.cerft-footer ul {
  overflow: hidden;
  width: 100%;
  text-align: center;
  padding-bottom: 23px;
  margin-bottom: 30px;
  border-bottom: 1px solid #dbdbdb;
}
.cerft-footer ul li {
  display: inline-block;
  background: url(../../images/sign/footer_divs.gif) 0 center no-repeat;
  margin-left: 16px;
  padding-left: 16px;
  line-height:1.5em;
}
.cerft-footer ul li:first-child {
  margin: 0;
  padding: 0;
  background: 0 none;
}
.cerft-footer ul li.color1 a {
  color: #ea6a1a;
}
.cerft-footer ul li.color2 a {
  color: #1e96c4;
}
.cerft-footer ul li a {
  color: #333333;
}
.cerft-footer-copyright {
  text-align: center;
}
.cerft-footer-copyright p {
  line-height: 1.5em;
}
.cerft-footer-copyright p span {
  color: #ea6a1a;
}
.cerft-footer-mark {
  position:absolute;
  right:0;
  top:55px;
}
.cerft-footer-mark .wa {
  display:inline-block;
  width:100px;
}
.cerft-footer-mark .wa img {
  width:100%;
}
.sub-agree > div .inpWrap {
  float:left;
  margin-top:10px;
}
.sub-agree > div .inpWrap .inp:first-child {
  margin-right:0;
}
.sub-agree-header {
  background: #e4eaed;
  border-bottom: 1px #dcdcdc solid;
  padding: 18px 30px;
  position: relative;
  overflow: hidden;
}
.sub-agree-header.double input {
  margin-left: 62px;
}
.sub-agree-header.double .agree-detail-btn {
  right: 289px;
  top: 50%;
  margin-top: -13px;
}
.sub-agree-header.single .agree-detail-btn {
  right: 289px;
  top: 50%;
  margin-top: -13px;
}
.sub-agree-header fieldset {
  position: absolute;
  top: 50%;
  right: 110px;
  margin-top: -12px;
}
.sub-agree-header fieldset label,
.sub-agree-header fieldset input {
  vertical-align: middle;
}
.sub-agree-header fieldset input {
  margin-left: 15px;
  float: left;
}
.sub-agree-header fieldset input:first-child {
  margin-left: 0;
}
.sub-agree-header fieldset.type-agree {
  right: 30px;
}
.sub-agree-header fieldset label {
  font-size: 14px;
  float: left;
  margin-left: 5px;
}
.sub-agree-header h3 {
  font-size: 14px;
  line-height: 1.5em;
  float: left;
  letter-spacing: -0.5px;
}
.sub-agree-header .agree-detail-btn,
.sub-agree-body .agree-detail-btn {
  position: absolute;
  top: 50%;
  right: 30px;
  margin-top:-13px;
  border:1px solid #dcdcdc;
  box-sizing:border-box;
}
.sub-agree-body {
  position: relative;
  border-bottom: 1px #dcdcdc solid;
  padding: 18px 30px;
  overflow: hidden;
}
.sub-agree-body:after{content:"";display:block;clear:both;}
.sub-agree-body h3 {
  font-weight: normal;
  float: left;
  font-size: 14px;
  line-height:1.45;
  padding-left:8px;
  text-indent:-8px;
}
.sub-agree-body fieldset {
  float: right;
}
.sub-agree-body p {
  line-height:1.45;
}
.sub-agree-body fieldset label,
.sub-agree-body fieldset input {
  vertical-align: middle;
}
.sub-agree-body fieldset input {
  margin-left: 15px;
  float: left;
}
.sub-agree-body fieldset input:first-child {
  margin-left: 0;
}
.sub-agree-body fieldset label {
  font-size: 14px;
  float: left;
  margin-left: 5px;
}
.sub-agree-body .contact-info-list {
  margin-top:5px;
}
.sub-agree-body .contact-info-list:after{content:"";display:block;clear:both;}
.sub-agree-body .contact-info-list li {
  float:left;
  width:50%;
  margin:5px 0;
}
.sub-agree-allcheck p {
  display: block;
  width: 100%;
  border-bottom: 1px #dcdcdc solid;
  padding: 5px 20px 20px 20px;
  text-align: left;
  line-height: 1.5em;
}
.sub-agree-allcheck input,
.sub-agree-allcheck label {
  float: none;
}
.sub-agree-allcheck input[type="checkbox"] {
  margin-top: -2px;
}
.sub-agree-allcheck label {
  margin-left: 5px;
  font-size: 14px;
  font-weight: bold;
}
.sub-agree-allcheck .left-area {
  float: left;
}
.sub-agree-allcheck .left-area .btn,
.sub-agree-allcheck .left-area input,
.sub-agree-allcheck .left-area label {
  float: left;
}
.sub-agree-allcheck .left-area label {
  margin: 6px 0 0 0;
}
.sub-agree-allcheck .left-area input {
  margin: 0 10px 0 23px;
}
.sub-agree-allcheck .left-area fieldset {
  margin-top: 15px;
}
.sub-agree-allcheck .left-area .allcheck-search {
  float: left;
}
.sub-agree-allcheck .right-area {
  float: right;
}
/*.sub-agree .btn-inline {
  position: absolute;
  right: 290px;
  top: 12px;
  background: url(../../images/sign/btn_inline_line_right.png) right 0 no-repeat;
}
.sub-agree .btn-inline a {
  color: #555;
  background: #fff;
  border-top: 1px #dedede solid;
  border-bottom: 1px #dedede solid;
}
.sub-agree .btn-inline:before {
  background: url(../../images/sign/btn_inline_line_left.png) right 0 no-repeat;
}삭제예정*/
.signArea-wrap {text-align:right;}
.sub-btn-wrap {
  width: 100%;
  clear: both;
  text-align: center;
  margin: 20px 0 30px 0;
  overflow: hidden;
  margin-left: 10px;
}
.sub-btn-wrap .btn-orange,
.sub-btn-wrap .btn-blue,
.sub-btn-wrap .btn-black {
  margin-left: 5px;
}
.sub-btn-wrap .btn-orange:first-child,
.sub-btn-wrap .btn-blue:first-child,
.sub-btn-wrap .btn-black:first-child {
  margin-left: 0;
}
.sub-btn-wrap input[type="radio"],
.sub-btn-wrap input[type="checkbox"] {
  margin-right: 3px;
  margin-left: 13px;
  height: 28px;
}
.sub-btn-wrap:first-child {
  margin-left: 0;
}
.sub-btn-wrap label {
  line-height: 28px;
  font-size: 14px;
}
.sub-btn-wrap.vertical {
  float: none;
}
.sub-btn-wrap.vertical input {
  float: none;
}
.sub-btn-wrap.vertical label {
  float: none;
  font-size: 14px;
}
/* button style */
a img{vertical-align: middle;}
.btn,
a.btn,
input.btn,
button.btn{
  display: inline-block;
  font-family:'Malgun Gothic','맑은 고딕','Apple SD Gothic Neo',sans-serif;
  letter-spacing: -0.1em;
  vertical-align: middle;
  text-align: center;
}
.btn-lg{
  min-width: 100px;
  min-height: 50px;
  padding: 13px 15px;
  font-size: 20px;
}
.btn-md{
  min-width: 60px;
  min-height: 40px;
  padding: 8px 12px;
  font-size: 18px;
}
.btn-white{
  border: 1px #1d96c3 solid;
  background: #fff;
  color: #2199d5;
}
.btn-white:hover{
  border: 1px #1d96c3 solid;
  background: #a6d6ee;
  color: #104c6a;
}
.btn-blue{
  background: #2199d5;
  color: #fff;
}
.btn-blue:hover{
  background: #0e4b61;
  color: #fff;
}
.btn-green{
  background: #1DDB16;
  color: #fff;
}
.btn-green:hover{
  background: #2F9D27;
  color: #fff;
}
.btn-orange{
  background: #FFA500;
  color: #fff;
}
.btn-orange:hover{
  background: #FFD700;
  color: #fff;
}
.btn-gray{
  background: #7f7f7f;
  color: #fff;
}
.btn-gray:hover{
  background: #444;
  color: #fff;
}
.btn-disabled,
.btn-disabled:hover{
  background: #ccc;
  color: #ededed;
}
/* font style */
.font-16{font-size: 16px !important !important;}
.font-dark{color: #333 !important;}
.font-dark-b{color: #333; font-weight: bold !important;}
.font-blue{color: #2199d5 !important;}
.font-orange{color: #ea6a1a !important;}
.font-red{color: #ee2626 !important;}
.font-blue-b{color: #2199d5 !important; font-weight: bold !important;}
.font-orange-b{color: #ea6a1a !important;font-weight: bold !important;}

/* 삭제예정 */
.btn-orange.icon-arrow {
  display: inline-block;
  text-align: center;
  position: relative;
  clear: both;
  background: url(../../images/sign/btn_normal_right_orangebg.png) right 0 no-repeat;
  padding-right: 15px;
}
.btn-orange.icon-arrow a {
  display: inline-block;
  font-weight: bold;
  color: #fff;
  padding: 0 12px 0 12px;
  height: 36px;
  line-height: 36px;
  font-size: 16px;
  background: #ea6a1a;
}
.btn-orange.icon-arrow:before {
  content: '';
  position: relative;
  float: left;
  left: 0;
  top: 0;
  width: 35px;
  height: 36px;
  background: url(../../images/sign/btn_all_bg.png) 0 0 no-repeat;
}
.btn-orange.icon-map {
  display: inline-block;
  text-align: center;
  position: relative;
  clear: both;
  background: url(../../images/sign/btn_normal_right_orangebg.png) right 0 no-repeat;
  padding-right: 15px;
}
.btn-orange.icon-map a {
  display: inline-block;
  font-weight: bold;
  color: #fff;
  padding: 0 12px 0 12px;
  height: 36px;
  line-height: 36px;
  font-size: 16px;
  background: #ea6a1a;
}
.btn-orange.icon-map:before {
  content: '';
  position: relative;
  float: left;
  left: 0;
  top: 0;
  width: 35px;
  height: 36px;
  background: url(../../images/sign/btn_all_bg.png) -50px 0 no-repeat;
}
.btn-orange.icon-next {
  display: inline-block;
  text-align: center;
  position: relative;
  clear: both;
  background: url(../../images/sign/btn_normal_right_orangebg.png) right 0 no-repeat;
  padding-right: 15px;
}
.btn-orange.icon-next a {
  display: inline-block;
  font-weight: bold;
  color: #fff;
  padding: 0 12px 0 12px;
  height: 36px;
  line-height: 36px;
  font-size: 16px;
  background: #ea6a1a;
}
.btn-orange.icon-next:before {
  content: '';
  position: relative;
  float: left;
  left: 0;
  top: 0;
  width: 35px;
  height: 36px;
  background: url(../../images/sign/btn_all_bg.png) -100px 0 no-repeat;
}
.btn-orange.icon-check {
  display: inline-block;
  text-align: center;
  position: relative;
  clear: both;
  background: url(../../images/sign/btn_normal_right_orangebg.png) right 0 no-repeat;
  padding-right: 15px;
}
.btn-orange.icon-check a {
  display: inline-block;
  font-weight: bold;
  color: #fff;
  padding: 0 12px 0 12px;
  height: 36px;
  line-height: 36px;
  font-size: 16px;
  background: #ea6a1a;
}
.btn-orange.icon-check:before {
  content: '';
  position: relative;
  float: left;
  left: 0;
  top: 0;
  width: 35px;
  height: 36px;
  background: url(../../images/sign/btn_all_bg.png) -150px 0 no-repeat;
}
.btn-orange.icon-print {
  display: inline-block;
  text-align: center;
  position: relative;
  clear: both;
  background: url(../../images/sign/btn_normal_right_orangebg.png) right 0 no-repeat;
  padding-right: 15px;
}
.btn-orange.icon-print a {
  display: inline-block;
  font-weight: bold;
  color: #fff;
  padding: 0 12px 0 12px;
  height: 36px;
  line-height: 36px;
  font-size: 16px;
  background: #ea6a1a;
}
.btn-orange.icon-print:before {
  content: '';
  position: relative;
  float: left;
  left: 0;
  top: 0;
  width: 35px;
  height: 36px;
  background: url(../../images/sign/btn_all_bg.png) -200px 0 no-repeat;
}
.btn-orange.icon-zoom {
  display: inline-block;
  text-align: center;
  position: relative;
  clear: both;
  background: url(../../images/sign/btn_normal_right_orangebg.png) right 0 no-repeat;
  padding-right: 15px;
}
.btn-orange.icon-zoom a {
  display: inline-block;
  font-weight: bold;
  color: #fff;
  padding: 0 12px 0 12px;
  height: 36px;
  line-height: 36px;
  font-size: 16px;
  background: #ea6a1a;
}
.btn-orange.icon-zoom:before {
  content: '';
  position: relative;
  float: left;
  left: 0;
  top: 0;
  width: 35px;
  height: 36px;
  background: url(../../images/sign/btn_all_bg.png) -250px 0 no-repeat;
}
.btn-blue.icon-tel {
  display: inline-block;
  text-align: center;
  position: relative;
  clear: both;
  background: url(../../images/sign/btn_normal_right_bluebg.png) right 0 no-repeat;
  padding-right: 15px;
}
.btn-blue.icon-tel a {
  display: inline-block;
  font-weight: bold;
  color: #fff;
  padding: 0 12px 0 12px;
  height: 36px;
  line-height: 36px;
  font-size: 16px;
  background: #1e96c4;
}
.btn-blue.icon-tel:before {
  content: '';
  position: relative;
  float: left;
  left: 0;
  top: 0;
  width: 35px;
  height: 36px;
  background: url(../../images/sign/btn_all_bg.png) 0 -50px no-repeat;
}
.btn-blue.icon-check {
  display: inline-block;
  text-align: center;
  position: relative;
  clear: both;
  background: url(../../images/sign/btn_normal_right_bluebg.png) right 0 no-repeat;
  padding-right: 15px;
}
.btn-blue.icon-check a {
  display: inline-block;
  font-weight: bold;
  color: #fff;
  padding: 0 12px 0 12px;
  height: 36px;
  line-height: 36px;
  font-size: 16px;
  background: #1e96c4;
}
.btn-blue.icon-check:before {
  content: '';
  position: relative;
  float: left;
  left: 0;
  top: 0;
  width: 35px;
  height: 36px;
  background: url(../../images/sign/btn_all_bg.png) -150px 0 no-repeat;
  background: url(../../images/sign/btn_all_bg.png) -50px -50px no-repeat;
}
.btn-blue.icon-calc {
  display: inline-block;
  text-align: center;
  position: relative;
  clear: both;
  background: url(../../images/sign/btn_normal_right_bluebg.png) right 0 no-repeat;
  padding-right: 15px;
}
.btn-blue.icon-calc a {
  display: inline-block;
  font-weight: bold;
  color: #fff;
  padding: 0 12px 0 12px;
  height: 36px;
  line-height: 36px;
  font-size: 16px;
  background: #1e96c4;
}
.btn-blue.icon-calc:before {
  content: '';
  position: relative;
  float: left;
  left: 0;
  top: 0;
  width: 35px;
  height: 36px;
  background: url(../../images/sign/btn_all_bg.png) -100px -50px no-repeat;
}
.btn-black.icon-tel {
  display: inline-block;
  text-align: center;
  position: relative;
  clear: both;
  background: url(../../images/sign/btn_normal_right_blackbg.png) right 0 no-repeat;
  padding-right: 16px;
}
.btn-black.icon-tel a {
  display: inline-block;
  font-weight: bold;
  color: #fff;
  padding: 0 12px 0 12px;
  height: 36px;
  line-height: 36px;
  font-size: 16px;
  background: #707377;
}
.btn-black.icon-tel:before {
  content: '';
  position: relative;
  float: left;
  left: 0;
  top: 0;
  width: 35px;
  height: 36px;
  background: url(../../images/sign/btn_all_bg.png) 0 -150px no-repeat;
}
.btn-black.icon-cancel {
  display: inline-block;
  text-align: center;
  position: relative;
  clear: both;
  background: url(../../images/sign/btn_normal_right_blackbg.png) right 0 no-repeat;
  padding-right: 16px;
}
.btn-black.icon-cancel a {
  display: inline-block;
  font-weight: bold;
  color: #fff;
  padding: 0 12px 0 12px;
  height: 36px;
  line-height: 36px;
  font-size: 16px;
  background: #707377;
}
.btn-black.icon-cancel:before {
  content: '';
  position: relative;
  float: left;
  left: 0;
  top: 0;
  width: 35px;
  height: 36px;
  background: url(../../images/sign/btn_all_bg.png) -50px -150px no-repeat;
}
.btn-black.icon-check {
  display: inline-block;
  text-align: center;
  position: relative;
  clear: both;
  background: url(../../images/sign/btn_normal_right_blackbg.png) right 0 no-repeat;
  padding-right: 16px;
}
.btn-black.icon-check a {
  display: inline-block;
  font-weight: bold;
  color: #fff;
  padding: 0 12px 0 12px;
  height: 36px;
  line-height: 36px;
  font-size: 16px;
  background: #707377;
}
.btn-black.icon-check:before {
  content: '';
  position: relative;
  float: left;
  left: 0;
  top: 0;
  width: 35px;
  height: 36px;
  background: url(../../images/sign/btn_all_bg.png) -150px 0 no-repeat;
  background: url(../../images/sign/btn_all_bg.png) -100px -150px no-repeat;
}
.btn-orange-sm.icon-print {
  display: inline-block;
  text-align: center;
  position: relative;
  clear: both;
  background: url(../../images/sign/btn_small_right_orangebg.png) right 0 no-repeat;
  padding-right: 10px;
}
.btn-orange-sm.icon-print a {
  display: inline-block;
  font-weight: bold;
  color: #fff;
  padding: 0 12px 0 12px;
  height: 26px;
  line-height: 26px;
  font-size: 12px;
  background: #ea6a1a;
}
.btn-orange-sm.icon-print:before {
  content: '';
  position: relative;
  width: 35px;
  height: 36px;
  float: left;
  left: 0;
  top: 0;
  width: 25px;
  height: 26px;
  background: url(../../images/sign/btn_all_bg.png) 0 -100px no-repeat;
}
/* 삭제예정 */

.agree-detail-btn {
  display: block;
  height: 26px;
  padding: 6px 15px;
  border-radius: 1em;
  background: #fff;
  cursor: pointer;
  text-align: center;
  color: #333;
}
.agree-detail-btn span.visible-inline-lg{
  color: #333;
}
.agree-detail-btn:hover span.visible-inline-lg{
  color: #1e96c4;
}
.agree-detail-btn.inline-gray {
  display: inline-block;
  background: #888;
  color: #fff;
}
.btn-inline {
  height: 26px;
  padding-right: 12px;
  position: relative;
  display: inline-block;
}
.btn-inline a {
  display: inline-block;
  height: 26px;
  padding: 7px 10px 0 10px;
  border-radius: 50px;
  background: #888;
  color: #fff;
}
.pop-btn-close{
	position:absolute;
	top:10px;
	right:5px;
}
.pop-close{
	display: block;
	width: 20px;
	height: 20px;
	color: #fff;
	font-size:16px;
	font-weight:bold;
	text-align: center;
}
.pop-close:hover {
	color: #f5f5f5;
}
.pop-wrap-header {
  background: #1e96c4 url(../../images/sign/pop_header_bar.gif) right 0 no-repeat;
  width: 100%;
  height: 39px;
}
.pop-wrap-header h1 {
  padding: 12px 0 0 16px;
  font-size: 14px;
  color: #ffffff;
}
.pop-wrap-body {
  padding: 30px 28px;
  border-left: 3px #1e96c4 solid;
  border-right: 3px #1e96c4 solid;
  border-bottom: 3px #1e96c4 solid;
}
.pop-wrap-body p {
  line-height: 1.4em;
  margin-bottom: 15px;
}
.pop-wrap .sub-table {
  margin-bottom: 0;
}
.terms-nav ul {
  border-bottom: 1px solid #b6c1c6;
  overflow: hidden;
  padding-bottom: 10px;
}
.terms-nav li {
  font-size: 12px;
  float: left;
  background: url(../../images/sign/footer_divs.gif) 0 center no-repeat;
  margin-left: 10px;
  padding-left: 10px;
}
.terms-nav li:first-child {
  margin: 0;
  padding: 0;
  background: 0 none;
}
.terms-nav li.on a {
  color: #ea6a1a;
  font-weight: bold;
}
.terms-title {
  text-align: center;
  margin: 30px 0 ;
}
.terms-title h2 {
  font-size: 16px;
}
.terms-wrap {
  margin-top: -20px;
  margin-bottom: 30px;
  white-space: pre;
  word-wrap: break-word; /* Internet Explorer 5.5+ */
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  line-height: 1.7em;
  word-wrap: break-word;
}
.terms-wrap p,
.terms-wrap strong {
  line-height: 1.7em;
}
.terms-wrap-header {
  margin-top: -10px;
  border-bottom: 1px #dcdcdc dashed;
  padding-bottom: 15px;
  line-height: 1.7em;
}
.terms-wrap .terms-gray-box {
  padding: 0 20px 7px;
  background: #ebeced;
}
.terms-wrap .terms-gray-box strong {
  margin-bottom: 5px;
}
.terms-wrap .terms-gray-box p {
  margin-bottom: 0;
}
.terms-wrap .terms-gray-box .terms-agree {
  border-top: 1px #b9b9b9 dashed;
  padding-top: 10px;
  text-align: right;
}
.terms-wrap .terms-blue-box {
  background: #e3f2f8;
  padding: 0 20px 10px;
}

/* 1118 추가 시작*/
.popup-close-check {
  text-align: right;
  margin-top: 15px;
  overflow: hidden;
}
/* 1118 추가 끝*/
.iw-750 {
  width: 750px !important;
}
.iw-745 {
  width: 745px !important;
}
.iw-740 {
  width: 740px !important;
}
.iw-735 {
  width: 735px !important;
}
.iw-730 {
  width: 730px !important;
}
.iw-725 {
  width: 725px !important;
}
.iw-720 {
  width: 720px !important;
}
.iw-715 {
  width: 715px !important;
}
.iw-710 {
  width: 710px !important;
}
.iw-705 {
  width: 705px !important;
}
.iw-700 {
  width: 700px !important;
}
.iw-695 {
  width: 695px !important;
}
.iw-690 {
  width: 690px !important;
}
.iw-685 {
  width: 685px !important;
}
.iw-680 {
  width: 680px !important;
}
.iw-675 {
  width: 675px !important;
}
.iw-670 {
  width: 670px !important;
}
.iw-665 {
  width: 665px !important;
}
.iw-660 {
  width: 660px !important;
}
.iw-655 {
  width: 655px !important;
}
.iw-650 {
  width: 650px !important;
}
.iw-645 {
  width: 645px !important;
}
.iw-640 {
  width: 640px !important;
}
.iw-635 {
  width: 635px !important;
}
.iw-630 {
  width: 630px !important;
}
.iw-625 {
  width: 625px !important;
}
.iw-620 {
  width: 620px !important;
}
.iw-615 {
  width: 615px !important;
}
.iw-610 {
  width: 610px !important;
}
.iw-605 {
  width: 605px !important;
}
.iw-600 {
  width: 600px !important;
}
.iw-595 {
  width: 595px !important;
}
.iw-590 {
  width: 590px !important;
}
.iw-585 {
  width: 585px !important;
}
.iw-580 {
  width: 580px !important;
}
.iw-575 {
  width: 575px !important;
}
.iw-570 {
  width: 570px !important;
}
.iw-565 {
  width: 565px !important;
}
.iw-560 {
  width: 560px !important;
}
.iw-555 {
  width: 555px !important;
}
.iw-550 {
  width: 550px !important;
}
.iw-545 {
  width: 545px !important;
}
.iw-540 {
  width: 540px !important;
}
.iw-535 {
  width: 535px !important;
}
.iw-530 {
  width: 530px !important;
}
.iw-525 {
  width: 525px !important;
}
.iw-520 {
  width: 520px !important;
}
.iw-515 {
  width: 515px !important;
}
.iw-510 {
  width: 510px !important;
}
.iw-505 {
  width: 505px !important;
}
.iw-500 {
  width: 500px !important;
}
.iw-495 {
  width: 495px !important;
}
.iw-490 {
  width: 490px !important;
}
.iw-485 {
  width: 485px !important;
}
.iw-480 {
  width: 480px !important;
}
.iw-475 {
  width: 475px !important;
}
.iw-470 {
  width: 470px !important;
}
.iw-465 {
  width: 465px !important;
}
.iw-460 {
  width: 460px !important;
}
.iw-455 {
  width: 455px !important;
}
.iw-450 {
  width: 450px !important;
}
.iw-445 {
  width: 445px !important;
}
.iw-440 {
  width: 440px !important;
}
.iw-435 {
  width: 435px !important;
}
.iw-430 {
  width: 430px !important;
}
.iw-425 {
  width: 425px !important;
}
.iw-420 {
  width: 420px !important;
}
.iw-415 {
  width: 415px !important;
}
.iw-410 {
  width: 410px !important;
}
.iw-405 {
  width: 405px !important;
}
.iw-400 {
  width: 400px !important;
}
.iw-395 {
  width: 395px !important;
}
.iw-390 {
  width: 390px !important;
}
.iw-385 {
  width: 385px !important;
}
.iw-380 {
  width: 380px !important;
}
.iw-375 {
  width: 375px !important;
}
.iw-370 {
  width: 370px !important;
}
.iw-365 {
  width: 365px !important;
}
.iw-360 {
  width: 360px !important;
}
.iw-355 {
  width: 355px !important;
}
.iw-350 {
  width: 350px !important;
}
.iw-345 {
  width: 345px !important;
}
.iw-340 {
  width: 340px !important;
}
.iw-335 {
  width: 335px !important;
}
.iw-330 {
  width: 330px !important;
}
.iw-325 {
  width: 325px !important;
}
.iw-320 {
  width: 320px !important;
}
.iw-315 {
  width: 315px !important;
}
.iw-310 {
  width: 310px !important;
}
.iw-305 {
  width: 305px !important;
}
.iw-300 {
  width: 300px !important;
}
.iw-295 {
  width: 295px !important;
}
.iw-290 {
  width: 290px !important;
}
.iw-285 {
  width: 285px !important;
}
.iw-280 {
  width: 280px !important;
}
.iw-275 {
  width: 275px !important;
}
.iw-270 {
  width: 270px !important;
}
.iw-265 {
  width: 265px !important;
}
.iw-260 {
  width: 260px !important;
}
.iw-255 {
  width: 255px !important;
}
.iw-250 {
  width: 250px !important;
}
.iw-245 {
  width: 245px !important;
}
.iw-240 {
  width: 240px !important;
}
.iw-235 {
  width: 235px !important;
}
.iw-230 {
  width: 230px !important;
}
.iw-225 {
  width: 225px !important;
}
.iw-220 {
  width: 220px !important;
}
.iw-215 {
  width: 215px !important;
}
.iw-210 {
  width: 210px !important;
}
.iw-205 {
  width: 205px !important;
}
.iw-200 {
  width: 200px !important;
}
.iw-195 {
  width: 195px !important;
}
.iw-190 {
  width: 190px !important;
}
.iw-185 {
  width: 185px !important;
}
.iw-180 {
  width: 180px !important;
}
.iw-175 {
  width: 175px !important;
}
.iw-170 {
  width: 170px !important;
}
.iw-165 {
  width: 165px !important;
}
.iw-160 {
  width: 160px !important;
}
.iw-155 {
  width: 155px !important;
}
.iw-150 {
  width: 150px !important;
}
.iw-145 {
  width: 145px !important;
}
.iw-140 {
  width: 140px !important;
}
.iw-135 {
  width: 135px !important;
}
.iw-130 {
  width: 130px !important;
}
.iw-125 {
  width: 125px !important;
}
.iw-120 {
  width: 120px !important;
}
.iw-115 {
  width: 115px !important;
}
.iw-110 {
  width: 110px !important;
}
.iw-105 {
  width: 105px !important;
}
.iw-100 {
  width: 100px !important;
}
.iw-95 {
  width: 95px !important;
}
.iw-90 {
  width: 90px !important;
}
.iw-85 {
  width: 85px !important;
}
.iw-80 {
  width: 80px !important;
}
.iw-75 {
  width: 75px !important;
}
.iw-70 {
  width: 70px !important;
}
.iw-65 {
  width: 65px !important;
}
.iw-60 {
  width: 60px !important;
}
.iw-55 {
  width: 55px !important;
}
span[class^=iw-],
strong[class^=iw-] {
  display:inline-block;
  text-align:center;
}
.page-footer-itemCopyright .right-area {
  float: right;
}
/* align */
.ac {text-align: center !important;}
.al {text-align: left !important;}
.ar {text-align: right !important;}

/* margin */
.mt5 {margin-top:5px !important;}
.mt10 {margin-top:10px !important;}
.mt15 {margin-top:15px !important;}
.mt20 {margin-top:20px !important;}
.mt25 {margin-top:25px !important;}
.mt30 {margin-top:30px !important;}
.mt50 {margin-top:50px !important;}
.mr20 {margin-right:20px !important;}

.mb10 {margin-bottom:10px !important;}

.pd20 {padding:20px !important;}
.pd0 {padding:0 !important;}

.pl8 {padding-left:8px;}
.pl22 {padding-left:22px !important;}
.pl30 {padding-left:30px !important;}

/* checkbox, radio */
.checkwrap {position: relative;font-size:0;}
.checkwrap input[type="checkbox"]{
  position: absolute;
   width: 1px;
   height: 1px;
   padding: 0;
   margin: -1px;
   overflow: hidden;
   clip:rect(0,0,0,0);
   border: 0
}
.checkwrap input[type="checkbox"] + label {
  display: inline-block;
  position: relative;
  padding-right: 15px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  font-size: 14px;
}
.checkwrap input[type="checkbox"] + label:before {
  content: ' ';
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  margin: -2px 6px 0 0;
  text-align: center;
  vertical-align: middle;
  background: #fff;
  border: 1px solid #ccc;
}
.checkwrap input[type="checkbox"] + label:active:before,
.checkwrap input[type="checkbox"]:checked + label:active:before {
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}
.checkwrap input[type="checkbox"]:checked + label:before {  /* 체크박스를 체크했을때 */
  content: ' ';
  color: #1d96c3;
  text-shadow: 1px 1px #1d96c3;
  background: #fff  url(../../images/common/ico_check.png) center no-repeat;
  border-color: #ccc;
}
.checkwrap input[type="checkbox"]:disabled + label:before {  /* 체크박스가 disabled일때 */
  content: '\2714';
  color: #ccc;
  text-shadow: 1px 1px #ccc;
  background: #ededed;
  border-color: #ccc;
}

.checkwrap input[type="radio"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip:rect(0,0,0,0);
  border: 0;
}
.checkwrap input[type="radio"] + label {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  padding-right: 15px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  font-size: 14px;
  line-height:24px;
  vertical-align:middle;
}
.checkwrap input[type="radio"] + label.notxt {
  width: 24px;
  height: 24px;
  padding-left: 0;
  padding-right: 0;
  font-size: 0;
}
.checkwrap input[type="radio"] + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 24px;
  height: 24px;
  margin-top:-12px;
  text-align: center;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 100%;
}
.checkwrap input[type="radio"] + label:active:before,
.checkwrap input[type="radio"]:checked + label:active:before  {
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}
.checkwrap input[type="radio"]:checked + label:before {
  background: #fff;
  border-color: #ccc;
}
.checkwrap input[type="radio"]:checked + label:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 6px;
  width: 12px;
  height: 12px;
  margin-top:-6px;
  background: #1d96c3;
  border-radius: 100%;
}
.checkwrap input[type="radio"]:disabled + label:before {
  background: #ededed;
  border-color: #ccc;
}
.checkwrap input[type="radio"]:disabled + label:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 6px;
  width: 12px;
  height: 12px;
  margin-top:-6px;
  background: #ccc;
  border-radius: 100%;
}
.checkwrap input[type="checkbox"]:focus + label,
.checkwrap input[type="radio"]:focus + label{
  border:1px dotted #000;
}
.checkwrap.left-area input[type="radio"] + label{padding-left:20px;padding-right:10px;font-size:12px;}
.checkwrap.left-area input[type="radio"] + label:before{width:16px;height:16px;margin-top:-8px;}
.checkwrap.left-area input[type="radio"] + label:after{left:4px;width:8px;height:8px;margin-top:-4px;}

/* processing bar */
#processingY p {
  margin-top:10px;
  font-weight:bold;
  color:#006699;
  line-height:1.5;
}


