@charset "utf-8";


/*base*/
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body{ width:100%; height:100%; text-align:left; font-size:16px; font-weight:400; font-family:"맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", sans-serif; color:#495057; line-height:26px; letter-spacing:-1px; -webkit-overflow-scrolling:touch; }
body,p,h1,h2,h3,h4,h5,h6,table,caption,form,fieldset,legend,span,div,th,td,address{margin:0; padding:0; }
ul,ol,li,dl,dt,dd{list-style:none; margin:0; padding:0px}
img{border:0 none; line-height:0; font-size:0; vertical-align:top}
table{border-collapse:collapse; border-spacing:0; width:100%}
fieldset{border:0}
legend, caption{width:0; height:0; text-indent:-10000px; font-size:0px; line-height:0; /*position:absolute;*/ left:-99999px; }
textarea{border:2px solid #dbdbdc; padding:8px 10px !important; line-height:18px; resize:none; }
input, textarea { vertical-align:middle; font-size:14px; color:#292929; font-family: "맑은 고딕", "Malgun Gothic","Apple SD Gothic Neo", sans-serif; padding:0; margin:0; }
input[type="checkbox"] { width:12px; height:12px; margin-right:7px;}
input[type="radio"] { width:13px; height:13px; border:none; }
input[type="file"]{height:22px; color:#666; border:1px solid #d4d4d4; line-height:22px; vertical-align:middle; background:#fff}
input.text{height:16px; padding:8px 10px; border:2px solid #dbdbdc; }
input.date{margin:0 3px 0 0; width:110px}
em { font-style:normal; }
iframe { border:none; }
strong { font-weight:bold; }
a { color:#626c74; text-decoration:none;}
hr { border:0; background:#B3BBC0; margin:0; height:1px; }
button { padding:0; border:none; cursor:pointer; font-family:inherit; background:none; border-radius:0;}

/******** UI ********/
[class*='btn'] { display:inline-block;}

/*radio, checkbox custom style*/
.check { display:inline-block; padding:0px; height:18px; line-height:18px; padding-left:25px;}
.radio { display:inline-block; padding:0px; height:20px; line-height:20px; padding-left:25px;}
.radio { background:url('../images/common/btn_radio_off.png') no-repeat center left; background-size:20px 20px; color:#7a7a7a;}
.check { background:url('../images/common/btn_checkbox_off.png') no-repeat center left; background-size:18px 18px;}
label.c-on { background:url('../images/common/btn_checkbox_on.png') no-repeat center left; background-size:18px 18px;}
label.r-on { background:url('../images/common/btn_radio_on.png') no-repeat center left; background-size:20px 20px; color:#053343; }
label{ margin:0;line-height:1.5em; letter-spacing: -1px; }
.check input, .radio input { position: absolute; left: -9999px;}
.check.focus, .radio.focus { position:relative; }
.check.focus:before, .radio.focus:before { display:block; content:''; width:100%; height:100%; border:2px solid #a1c3fa; position:absolute; top:-2px; left:-2px; line-height:14px; box-sizing:content-box;}

/* selectbox */
.select-wrap input.selectbox { float:none !important; padding:9px 12px 9px 12px; width:100%; height:44px; letter-spacing:-0.8px; font-size:16px; line-height:1.57; color:#888888; display:block; cursor:pointer; border:none; border:1px solid #b3bbc0; color:#5b5b5b; background:#fff url('../images/common/bg_select_arrow_up.png') no-repeat right 10px center; }
.select-wrap div.selectbox-wrapper { position:absolute; background-color:white; border:1px solid #cbcbcb; margin:0; padding:0; text-align:left; *height:60px; /*IE6 fix */ overflow-y:auto; z-index:1; max-height:300px; }
.select-wrap div.selectbox-wrapper ul li.selected{background-color:#fff}
.select-wrap div.selectbox-wrapper ul li.current{background-color:#ddd}
.select-wrap div.selectbox-wrapper ul li{list-style-type:none; display:block; margin:0; padding:2px 5px 2px 10px; cursor:pointer; font-size:14px; line-height:28px; }
html:first-child select{} /* Opera 9 & Below Fix */

/* selectbox 디자인만 */
select:not(.no-style) {
 font-family:inherit; /* 폰트 상속 */
 border-radius:0px; /* iOS 둥근모서리 제거 */
 -webkit-appearance:none; /* 네이티브 외형 감추기 */
 -moz-appearance:none;
 appearance:none;
}
/*file custom*/
.file-wrap { position:relative;}
.file-wrap .btn.file { display:inline-block; padding:5px 17px; margin-left:6px; margin-top:8px; border:1px solid #545454; border-radius:0; text-align:center; color:#252525; font-size:12px; font-weight:500; background:#fff; }
.file-wrap .file-area { display:inline-block; position:relative; }
.file-wrap #file_src { display:inline-block; width:100%; height:44px; padding:0 12px; background:#fff; border:1px solid #B3BBC0; box-sizing:border-box; line-height:42px; }
.file-wrap .file-hidden { position:absolute; left:0; top:0; width:100%; height:100%; opacity:0; cursor:pointer; }
.file-wrap button { margin-left:5px; }

/* IE 10, 11의 네이티브 화살표 숨기기 */
select::-ms-expand {
 display:none;
}
.input-box { position:relative; }
.input-box label {
 position:absolute;
 top:1px; /* input 요소의 border-top 설정값 만큼 */
 left:1px; /* input 요소의 border-left 설정값 만큼 */
 padding:7px 11px; /* input 요소의 padding 값 만큼 */
 color:#999;
 cursor:text;
}
/*input*/
input[type="text"],
input[type="password"],
input[type="tel"] {
 height:auto; /* 높이 초기화 */
 line-height:normal; /* line-height 초기화 */
 padding:0px 12px; /* 여백 설정 */
 box-sizing:border-box;
 width:auto;
 background:#fff;
 border:1px solid #B3BBC0;
 font-size:16px;
 font-family:inherit;
 border-radius:0; /* iSO 둥근모서리 제거 */
 -webkit-appearance:none; /* 브라우저별 기본 스타일링 제거 */
 -moz-appearance:none;
 appearance:none;
}
input[type="text"]:focus,input[type="password"]:focus,input[type="tel"]:focus { outline:2px solid #ec00bc }
::-webkit-input-placeholder {
  color:#888;
}
:-moz-placeholder { /* Firefox 18- */
  color:#888;
}
::-moz-placeholder { /* Firefox 19+ */
  color:#888;
}
:-ms-input-placeholder {
  color:#888;
}
input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder { /* WebKit browsers */ color:transparent; }
input:focus:-moz-placeholder, textarea:focus:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ color:transparent; }
input:focus::-moz-placeholder, textarea:focus::-moz-placeholder { /* Mozilla Firefox 19+ */ color:transparent; }
input:focus:-ms-input-placeholder, textarea:focus:-ms-input-placeholder { /* Internet Explorer 10+ */ color:transparent; }
/*textarea*/
textarea { width:100%; border:1px solid #B3BBC0; }

/* blind */
.blind{width:0; height:0; text-indent:-10000px; font-size:0px; line-height:0px; position:absolute; left:-99999px; }
.blind table{text-indent:-10000px}
.ir { overflow:hidden; text-indent:100%; white-space:nowrap; }



/******** Common ********/
html, body { overflow-x:hidden; }
#wrap { position:relative; width:100%; min-width:1140px; }
#skipnavi li a { display:block; font-size:16px; font-size:1rem; width:100%; position:absolute; top:-10000px; left:0; text-align:center; z-index:999999; line-height:1; letter-spacing:0; }
#skipnavi li a:focus { position:absolute; top:0; left:0; font-weight:bold; color:#fff; background:#272727; padding:20px 0; line-height:1; }
.block { position:fixed; z-index:10; top:0; left:0; width:100%; height:100%; background:#000; opacity:0.6; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; filter:alpha(opacity=60); -moz-opacity:0.6; -khtml-opacity:0.6; }
.block2 { position:fixed; z-index:99998; top:0; left:0; width:100%; height:100%; background:#000; opacity:0.6; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; filter:alpha(opacity=60); -moz-opacity:0.6; -khtml-opacity:0.6; }
.hyphen { line-height:1; color:#797B7C; padding:0px 4px; font-size:40px; }
/*.underline { text-decoration:underline; }*/
.accent { color:#ec008c !important; }
.accent2 { color:#1390d8 !important; }
.accent3 { color:#472f7c !important; }

/******** layout ********/
/* header */
#headerWrap { position:relative; width:100%; padding:20px 0 0; min-height:155px; z-index:9; }
.header { position:relative; width:100%; max-width:1140px; margin-left:auto; margin-right:auto; }
.header h1 { width:300px; }
.header h1 a { display:block; }
.divide { display:inline-block; width:1px; height:10px; background-color:#B3BBC0; margin:0px 7px; }
.menu-top { position:absolute; top:0; right:2px; line-height:12px; text-align:right;}
.menu-top a { margin-left:25px; font-size:12px; color:#626C74;}
.menu-wrap { width:1140px; position:absolute; top:73px; right:0;}
#gnb { float:right; padding-left:37px;}
#gnb:after { display:block; content:''; clear:both; }
#gnb .depth1 { position:relative; float: left; margin-right:105px;}
#gnb .depth1.last { margin-right:0;}
#gnb .depth1 a { display:inline-block; }
#gnb .depth1 > a span { display:block; position:relative; background: url(../images/commitment/sprites_menu.png) no-repeat; text-indent:-9999px; text-align:left; }
#gnb .depth1 .menu01 span { background-position:0 0; width:71px; height:21px; }
#gnb .depth1 .menu02 span { background-position:-166px 0px; width:106px; height:21px; }
#gnb .depth1 .menu03 span { background-position:-369px 0px; width:70px; height:21px; }
#gnb .depth1 .menu04 span { background-position:-547px 0px; width:85px; height:21px; z-index:30;}
#gnb .depth1 .menu01:hover span, #gnb .depth1 .menu01.active span { background-position:0 -21px; }
#gnb .depth1 .menu02:hover span, #gnb .depth1 .menu02.active span { background-position:-166px -21px; }
#gnb .depth1 .menu03:hover span, #gnb .depth1 .menu03.active span { background-position:-369px -21px; }
#gnb .depth1 .menu04:hover span, #gnb .depth1 .menu04.active span { background-position:-547px -21px; }
#gnb .depth1 .menu04 { position:relative; z-index:1; }
#gnb .depth1 .menu04:hover [class*="blob"]:before,
#gnb .depth1 .menu04:hover [class*="blob"]:after,
#gnb .depth1 .menu04.active [class*="blob"]:before,
#gnb .depth1 .menu04.active [class*="blob"]:after { background-color:#007abf; color:#007abf; }

/* contents */
#contentsWrap { position:relative; width:100%; min-height:500px; margin-bottom:50px; }
#contentsWrap .btn-top { position:absolute; right:20px; bottom:-110px; z-index:10; }
.default-wrap { position:relative; width:100%; max-width:1140px; margin:0 auto; }
.contents { position:relative; /*overflow:hidden;*/ min-height:500px; padding:80px 95px; background-color:rgba(244,244,244,0.60); border-top:2px solid #4f575e; }
.contents:after { display:block; content:''; clear:both; }
.contents02 { position:relative; }
.contents-area { padding:40px; background:#fff; }

/* footer */
#footerWrap { position:relative; width:100%; background-color:rgba(255,255,255,0.70); border-top:1px solid #ccc; font-size:12px; }
#footerWrap .footer-top { height:45px; }
#footerWrap .ft-link li { display:inline-block; margin-left:40px; }
#footerWrap .ft-link li:first-child { margin-left:0; }
#footerWrap .ft-link li a { display:inline-block; color:#333; font-weight:bold; line-height:45px; }
#footerWrap .ft-link li.last a { color:inherit; font-weight:inherit; line-height:20px; }
.family-site > a { position:absolute; top:0; right:50%; margin-right:-570px; padding-right:20px; background:url("../images/commitment/btn_familysite.png") no-repeat right center; font-size:14px; line-height:45px; }
.family-list { display:none; position:absolute; bottom:176px; right:0; width:100%; background:#f9f9f9; padding:80px 0; border-top:2px solid #ec008c; z-index:20;}
.family-list > ul { overflow:hidden; width:1140px; margin:0 auto; }
.family-group { float:left; width:190px; }
.family-group + .family-group { margin-left:47px; }
.family-group p { padding:0 0 8px 20px; margin-bottom:15px; border-bottom:1px solid #333; font-size:20px; color:#333; }
.family-group .list { margin-left:18px; }
.family-group a { padding-right:15px; font-size:14px; }
.family-group a:hover, .family-group a:focus { color:#ec008c; background-image:url(../images/commitment/img_gnb_on.png); background-repeat:no-repeat; background-position:right center; }
.family-close { position:absolute; top:20px; right:50%; margin-right:-570px; width:32px; height:32px; background:url('../images/commitment/btn_close.png') no-repeat 0 0; background-size:100%;}
#footerWrap .footer { padding:30px 0 40px; border-top:1px solid #ccc; color:#626c74; line-height:16px; }
#footerWrap .footer:after { display:block; clear:both; content:""; }
#footerWrap .footer .ft-cts { float:left; width:800px; }
#footerWrap .footer .ft-menu li { display:inline-block; position:relative; margin-left:16px; }
#footerWrap .footer .ft-menu li:before { display:block; position:absolute; top:3px; left:-8px; width:1px; height:10px; background:#626c74; content:""; }
#footerWrap .footer .ft-menu li:first-child { margin-left:0; }
#footerWrap .footer .ft-menu li:first-child:before { display:none; }
#footerWrap .footer .copyright { margin-top:10px; }
#footerWrap .footer .copyright span { position:relative; margin-left:16px; }
#footerWrap .footer .copyright span:before { display:block; position:absolute; top:3px; left:-8px; width:1px; height:10px; background:#626c74; content:""; }
#footerWrap .footer .copyright span:first-child, #footerWrap .footer .copyright span.first { margin-left:0; }
#footerWrap .footer .copyright span:first-child:before, #footerWrap .footer .copyright span.first:before { display:none; }
#footerWrap .footer .ft-logo { float:right; padding-top:5px; }

/******** layerpopup ********/
.layerpopup { position:absolute; overflow:hidden; display:none; width:980px; padding:70px 80px 80px 80px; z-index:20; background:#fff; border-top:2px solid #EC008C; }
.layerpopup .pop-tit { padding-bottom:30px; }
.layerpopup .tit { color:#612885; font-size:40px; line-height:48px; letter-spacing:-3px; }
.layerpopup .desc { margin-top:20px; }
.layerpopup .pop-cts { padding-top:30px; border-top:1px solid #ccc; }
/*.layerpopup .btn-wrap { margin-top:40px; }*/
.layerpopup.small { width:660px; padding:70px 60px 80px 60px; }
.layerpopup .btn-menu-close { position:absolute; top:30px; right:30px; z-index:25; width:43px; height:43px; background-image:url(../images/commitment/btn_close.png); background-repeat:no-repeat; text-indent:-9999px; }
.layerpopup .btn-normal:hover, .layerpopup .btn-normal:focus { background:#612885; color:#fff; border:1px solid #612885; }
.alert-layer { position:fixed; width:294px; text-align:center; top:50%; left:50%; z-index:99999; background-color:#fff; border:8px solid #0087D4; box-shadow:0 4px 8px 0 rgba(0,0,0,0.50); padding:30px 40px; }
.alert-layer .title { font-size:26px; font-weight:normal; color:#007ABF; padding-bottom:10px; border-bottom:1px solid #B3BBC0; }
.alert-layer .message { margin-top:30px; font-size:16px; color:#495057; margin-bottom:30px; }
.alert-layer .btn-wrap { margin-top:0; }


/******** animation ********/
.blob,.blob2 { position:absolute; width:150px; top: 16px; left: -22px; transform:rotate(9deg); }
.blob2{ top:53px; left: -28px; }
.blob:before, .blob:after,.blob2:before, .blob2:after { content: ''; display: block; position: absolute; top: auto; bottom: 0; width: 59px; height: 36px; background-color:#EC008C; color:#EC008C;
  -webkit-box-shadow: 0 0 0 1px;
    box-shadow: 0 0 0 1px;
}
.blob:before { left:calc(10% - 27px/2); border-radius: 100% 0 0 0;
  -webkit-animation: wobble 2s alternate ease-in-out infinite;
    animation: wobble 2s alternate ease-in-out infinite;
}
.blob:after { left: 41%; border-radius: 0 100% 0 0;
  animation: wobble 2s ease-in-out alternate-reverse infinite;
}

.blob2:before { left:calc(10% - 27px/2); border-radius: 0 0 0 100%;
 -webkit-animation: wobble 2s alternate ease-in-out infinite;
     animation: wobble 2s alternate ease-in-out infinite;
}
.blob2:after { left: 41%; border-radius: 0 0 100% 0;
  animation: wobble 2s ease-in-out alternate-reverse infinite;
}

@-webkit-keyframes wobble {
 0% {
  -webkit-transform: scaleX(1.3);
      transform: scaleX(1.3);
 }
 100% {
  -webkit-transform: scaleX(0.8);
      transform: scaleX(0.8);
 }
}
@keyframes wobble {
 0% {
  -webkit-transform: scaleX(1.3);
      transform: scaleX(1.3);
 }
 100% {
  -webkit-transform: scaleX(0.7);
      transform: scaleX(0.7);
 }
}

/*bg animation*/
.bg1, .bg2 { z-index:-1; }
.bg1 { position:absolute; top:-45px; right:50%; margin-right:-800px; }
.bg2 { position:absolute; top:760px; left:50%; margin-left:-759px; }
#motion1 { display:inline-block; width:800px; height:1050px; margin-top:-100px; }
#motion2 { display:inline-block; width:400px; height:370px; }
#motion1 rect,#motion2 rect {
 -webkit-transform-origin: 50% 50%;
 transform-origin: 50% 50%;
}
.bg-blobs {
 -webkit-filter: url("#goo");
 filter: url("#goo");
}
.bg-blob {
	fill: white;
}

/*display*/
/*.d-block { display:block; }
.d-inline-block { display:inline-block; }
.d-inline { display:inline; }*/
.btn-normal { height:60px; padding:0px 50px; background:#fff; border:1px solid #495057; border-radius:30px; font-size:18px; color:#495057; line-height:58px; }
.btn-normal.form { height:44px; padding:0px 30px; font-size:14px; line-height:42px; }
.btn-normal.tiny { height:22px; padding:0px 20px; font-size:12px; line-height:20px; }
.btn-popup { font-size:12px; border:1px solid #B3BBC0; border-radius:30px; color:#495057; height:34px; min-width:150px; line-height:32px; padding-left:13px; padding-right:25px; background-image:url('../images/common/ico_linkpop.png'); background-repeat:no-repeat; background-position:center right 10px; background-color:rgba(255,255,255,.5); }
/* bx-slider */
#contentsWrap .bx-wrapper .bx-pager { padding:0; margin-left:20px; height:12px; }
#contentsWrap .bx-wrapper .bx-pager.bx-default-pager a,
#topBanner .bx-wrapper .bx-pager.bx-default-pager a { background:#b3bbc0; width:12px; height:12px; margin:0 3px; -moz-border-radius:10px; -webkit-border-radius:10px; border-radius:10px; }
#contentsWrap .bx-wrapper .bx-pager.bx-default-pager a:hover, #contentsWrap .bx-wrapper .bx-pager.bx-default-pager a.active,
#topBanner .bx-wrapper .bx-pager.bx-default-pager a:hover, #topBanner .bx-wrapper .bx-pager.bx-default-pager a.active { background:#ec008c; }
#contentsWrap .bx-wrapper .bx-controls-auto { left:0; width:12px; height:12px; z-index:2; }
#contentsWrap .bx-wrapper .bx-controls-auto .bx-start,
#topBanner .bx-wrapper .bx-controls-auto .bx-start { width:12px; height:12px; background:url(../images/commitment/ico_play.png) no-repeat; margin:0; }
#contentsWrap .bx-wrapper .bx-controls-auto .bx-stop,
#topBanner .bx-wrapper .bx-controls-auto .bx-stop { width:12px; height:12px; background:url(../images/commitment/ico_pause.png) no-repeat; margin:0; }
.bx-wrapper li a { display: block; }
.banner-wrap .bx-wrapper { margin:0 auto; }
.banner-wrap .bx-wrapper .bx-viewport { background:transparent; }
.banner-wrap .bx-wrapper .bx-pager { top:290px; }
.banner-wrap .bx-wrapper .bx-controls-auto { top:290px; }
.bx-wrapper .bx-controls-auto .bx-start,.bx-wrapper .bx-controls-auto .bx-stop { display:block; }
.bx-wrapper .bx-controls-auto .bx-start.active,.bx-wrapper .bx-controls-auto .bx-stop.active { display:none; }

#topBanner .bx-wrapper .bx-controls-auto { width:12px; top:20px; right:87px;}
#topBanner { background:#f6f6f6; border-bottom:1px solid #b3bbc0; }
#topBanner .top_inner{ position:relative; width:1140px; margin:0 auto; }
#topBanner .bx-wrapper { position:relative; margin: 0 auto; }
#topBanner .bx-wrapper .bx-controls-direction a { width:18px; height:26px; top:10px; margin-top:0; }
#topBanner .bx-wrapper .bx-prev { left:inherit; right:50px; background:url('../images/commitment/ico_big_prev_off.png') no-repeat 0 0; }
#topBanner .bx-wrapper .bx-next { right:0; background:url('../images/commitment/ico_big_next_off.png') no-repeat 0 0; }
#topBanner .bx-wrapper .bx-pager { width:auto; top:20px; right:25px; bottom:inherit; padding-top:0; font-size:15px; font-weight:normal; font-family:"맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", sans-serif; letter-spacing:-2px;}
#topBanner .top-close { position:absolute; right:0; bottom:10px; font-size:12px; line-height:16px; color:#626c74;}
#topBanner .check { margin-right:15px; font-size:12px; color:#626c74; }
#topBanner .btn-close { background:url('../images/commitment/ico_close.png') no-repeat right center; background-size:14px 14px; padding-right:20px;}

.comm-wrap { width:1140px; overflow:hidden; margin:0 auto; }
.banner-wrap { float:left; width:580px; }
.step-wrap { position:relative; float:right; }
.step-wrap .tit { position:absolute; top:0; left:0; width:60px; height:200px; padding-top:21px; background:#351b6f; text-align:center; }
.step-wrap .step-box { width:464px; margin-left:60px; padding:52px 38px 0; background:#f3edfc; }
.step-wrap .step-con { margin:30px 0 0 30px; }
.step-wrap .vidio-wrap { margin:30px 5px 0; padding:25px 0 30px; border-top:1px solid #e3e0ec; }
.step-wrap .vidio-wrap * { vertical-align:middle; }
.step-wrap .vidio-wrap a { display:inline-block; margin-left:5px; min-width:166px; border:none;}
.step-wrap .btn-app { display:block; width:464px; margin-left:60px; padding:35px 0 33px; background:#351b6f; text-align:center; }

