@charset "utf-8";

/*============================= header =============================*/
#headerWrap { padding:0!important; position:fixed; top:0; width:100%; background:#fff; padding:20px 0 0; min-height:140px!important; z-index:9; }
#headerWrap > .header-inner { width:1200px; min-width:1200px; height:100%; margin:0 auto; }
#headerWrap .top-header { display:flex; justify-content:flex-end; align-items:center; width:100%; height:70px; }
#headerWrap .top-header > li { position:relative; font-size:14px; padding:0 12px; }
#headerWrap .top-header > li::after { content:''; position:absolute; top:50%; right:0; transform:translate(0, -50%); height:60%; border:1px solid #eee; } 
#headerWrap .top-header > li:last-child { padding-right:0; }
#headerWrap .top-header .login { padding:5px 10px; background:#fff; border:1px solid #ddd; border-radius:4px; } 
#headerWrap .top-header .login::after { display:none; }
#headerWrap .top-header .login > a { color:#260F54; }
#headerWrap .btm-header { display:flex; justify-content:space-between; align-items:center; width:100%; height:70px; }
#headerWrap .btm-header h2 { display:inline-block; width:180px; height:40px; }
#headerWrap .btm-header h2 > img { width:100%; }
#headerWrap .btm-header .center-menu { display:flex; justify-content:space-around; width:60%; }
#headerWrap .btm-header .center-menu > li > a { font-size:18px; font-weight:500; color:#333333; }
#headerWrap .btm-header .right-menu > button { float:left; width:30px; height:30px; margin-left:20px; }
.right-menu .btnSearch { background:url("../../../resources/normal/images/main/icon_search.png") no-repeat center center; background-size:100%; }
.right-menu .btnMenu { background:url("../../../resources/normal/images/main/icon_menu.png") no-repeat center center; background-size:100%; }



/*============================= 공통 =============================*/
/* 정보 */
.infoBox { position:relative; flex:1; margin-right:20px; padding:30px; border-radius:20px; }
.infoBox:last-child { margin:0; }
.infoBox > dt { font-size:30px; color:#111111; }
.infoBox > dt > span { display:block; font-size:14px; }
.infoBox > dd { display:inline-block; float:left; width:100%; margin:5px 0; font-size:16px; color:#757575; }
.infoBox .rate { margin-top:25px; font-size:26px; }
.infoBox .rate strong { font-size:30px; margin-left:5px; }

/* tab */
.tab-item { display:flex; justify-content:center; }
.tab-item > li { margin:0 10px; font-size:20px; color:#999999; }
.tab-item > li.on { border-bottom:4px solid #8052DC; }
.tab-item > li.on > a { color:#260F54; }
.tab-cont { display:none; justify-content:space-between; margin-top:30px; }
.tab-cont.on { display:flex; }
/* button */
.btn-link { position:relative; width:100%; padding:15px 30px; background:#fff; border-radius:30px; font-size:18px; color:#260F54; }
.btn-link::after { content:'>'; position:absolute; right:30px; }

.btn-arrow { position:relative; width:100%; padding:5px 10px; }
.btn-arrow::after { content:'>'; position:absolute; right:0; }

.bedge > span { float:left; margin-right:5px; padding:5px 15px; background:#F4F5FB; border-radius:15px; font-size:14px; color:#260F54; }

/*============================= 컨텐츠 =============================*/
.mainWrap { display:inline-block; float:left; margin:155px 0 0 0!important; }
.mainWrap .inner { position:relative; width:100%; max-width:1200px; margin:0 auto; }
.mainWrap .secTit { position:relative; width:100%; text-align:left; font-size:22px; color:#333; }

.mainWrap > section { position:relative; width:100%; max-width:1200px; margin:0 auto; padding:30px 0; }

.mainSec01 { max-width:unset!important; padding:0!important; }

/* slide */
.slideWrap {  }
.slideArea { position:relative; width:100%; height:420px; }
.slideArea .infoBox { position:absolute; top:50%; left:0; transform:translate(0, -50%); width:450px; padding:0; }
.slideArea .infoBox > dt { font-size:45px; color:#260F54; }
.slideArea .infoBox > dd { font-size:22px; }
.slideArea .infoBox .rate { font-size:22px; color:#4C21A3; }
.slideArea .infoBox .rate strong { font-size:24px; margin-left:5px; }

/* 바로가기 */
.shortcut { position:absolute; top:50%; right:0; width:340px; background:linear-gradient(320deg, rgba(38,15,84,1) 0%, rgba(61,18,146,1) 100%); border-radius:12px; transform:translate(0, -50%); }
.shortcut .list { padding:45px 30px 40px; }
.shortcut .list > li { position:relative; display:inline-block; margin:10px 0; }
.shortcut .list > li > a { position:relative; display:block; padding-left:40px; font-size:22px; color:#ffffff; }
.shortcut .list > li > a::before { content:""; position:absolute; top:50%; left:0; width:30px; height:30px; background-size:100%; transform:translate(0, -50%); }
.shortcut .list > li:nth-child(1) > a::before { background:url("../images/main/ico_money2.png") no-repeat center center; }
.shortcut .list > li:nth-child(2) > a::before { background:url("../images/main/ico_money1.png") no-repeat center center; }
.shortcut .list > li:nth-child(3) > a::before { background:url("../images/main/ico_paper.png") no-repeat center center; }
.shortcut .list .bedge { position:absolute; top:-10px; margin-left:10px; padding:3px 15px; background:#9F7CE4; border-radius:15px; font-size:14px; color:#ffffff; }
.shortcut .list .bedge::before { content:''; position:absolute; bottom:2px; left:-7px; border-top:0px solid transparent; border-left:15px solid transparent; border-right: 0px solid transparent; border-bottom: 15px solid #9F7CE4; }
.shortcut .btnWrap { display:flex; justify-content:space-between; width:100%; border-top:1px solid #e4e4e4; }
.shortcut .btnWrap > li { flex:1; border-right:1px solid #e4e4e4; text-align:center; }
.shortcut .btnWrap > li:last-child { border-right:0; }
.shortcut .btnWrap > li > a { display:block; padding:20px 0; font-size:18px; color:#ffffff; opacity:0.8; }
.slideArea .btn-link { width:65%; background:#E2D4FF; }
.slideArea .slideBg { position:absolute; right:420px; top:60px; z-index:-1; width:610px; }

/* 빠른 서비스 */
.quick-service { width:100%; height:195px; background:#F6F6F9; padding:30px 0; }
.quick-service .inner { display:flex; height:100%; }
.quick-service .secTit { width:230px; margin:0; }
.quick-service ul { display:flex; justify-content:space-between; width:calc(100% - 230px); height:100%; }
.quick-service ul > li { text-align:center; }
.quick-service ul > li > a { display:block; text-align:center; font-size:16px; color:#666666; }
.quick-service ul > li > a::before { content:""; display:inline-block; width:90px; height:90px; margin-bottom:10px; border-radius:50px; }
.quick-service ul > li:nth-child(1) > a::before { background:#fff url("../images/main/ico_card.png") no-repeat center center; }
.quick-service ul > li:nth-child(2) > a::before { background:#fff url("../images/main/ico_pc.png") no-repeat center center; }
.quick-service ul > li:nth-child(3) > a::before { background:#fff url("../images/main/ico_sms.png") no-repeat center center; }
.quick-service ul > li:nth-child(4) > a::before { background:#fff url("../images/main/ico_certi.png") no-repeat center center; }
.quick-service ul > li:nth-child(5) > a::before { background:#fff url("../images/main/icon_calc.png") no-repeat center center; }
.quick-service ul > li:nth-child(6) > a::before { background:#fff url("../images/main/ico_money3.png") no-repeat center center; }

/* 주목할만한 상품 */
.mainSec02 { padding:80px 0!important; }
.mainSec02 .secTit { padding:20px 0; font-size:30px; text-align:center; }
.mainSec02 .infoBox { background:#f5f5f5; }
.mainSec02 .infoBox::before { content:""; position:absolute; bottom:100px; right:30px; width:140px; height:140px; background-size:100%; }

.mainSec02 .infoBox.type1 { background:#FFEFF5; }
.mainSec02 .infoBox.type1 dt > span { color:#A93C79; }
.mainSec02 .infoBox.type1 .rate { color:#F648AA; }
.mainSec02 .infoBox.type1::before { background:url("../images/main/img_pig.png") no-repeat center center; }

.mainSec02 .infoBox.type2 { background:#EBE2FE; }
.mainSec02 .infoBox.type2 dt > span { color:#5C428F; }
.mainSec02 .infoBox.type2 .rate { color:#612AD0; }
.mainSec02 .infoBox.type2::before { background:url("../images/main/img_lock.png") no-repeat center center; }

.mainSec02 .infoBox.type3 { background:#F2F6FF; }
.mainSec02 .infoBox.type3 dt > span { color:#3A5797; }
.mainSec02 .infoBox.type3 .rate { color:#4461CB; }
.mainSec02 .infoBox.type3::before { background:url("../images/main/img_book.png") no-repeat center center; }


/* 홍보영상 , 앱 다운로드 */
.mainSec03, .mainSec04 { display:flex; justify-content:space-between; }
.mainSec03 .secTit { margin-bottom:20px; }
.mainSec03 > div,
.mainSec04 > div { width:calc((100% / 2) - 10px); margin-right:20px; }
.mainSec03 > div:last-child,
.mainSec04 > div:last-child { margin-right:0; }
.mainSec04 .cont { height:180px; }

.mainSec03 .promoArea,
.mainSec03 .downloadArea { position:relative; overflow:hidden; height:360px; background:#f6f6f6; border-radius:12px; }

.downloadArea { background:#f6f6f6; }
.downloadArea .infoBox { height:100%; padding:40px; border-radius:0; }
.downloadArea .infoBox > dt { margin-bottom:20px; font-size:36px; font-weight:700; }
.downloadArea .infoBox > dt > span { font-weight:400; color:#808080; }
.downloadArea .infoBox .qr > img { width:100px; height:100px; margin-right:15px; }
.downloadArea .infoBox .qr > p { display:inline-block; vertical-align:bottom; font-size:18px; color:#333; }
.downloadArea .infoBox dd { width:60%!important; margin:10px 0; } 
.downloadArea .infoBox dd > a { display:inline-block; overflow:hidden; width:140px; height:50px; background:#fff; border:1px solid #E2E2E2; border-radius:6px; }
.downloadArea .infoBox dd > a > img { height:100%; }
.downloadArea::after { content:''; position:absolute; right:40px; bottom:0; width:226px; height:314px; background:url("../images/main/img_app.png") no-repeat center bottom; background-size:100%; }


/* 영업점안내 */
.branchWrap { border:1px solid black; }
.branchWrap .secTit { margin-bottom:20px; }
.branchWrap .tab-item { position:absolute; top:3px; right:0; }
.branchWrap .tab-item > li { cursor:pointer; height:30px; margin:0 4px; padding:0 20px; background:#f2f2f2; border-radius:16px; font-size:14px; text-align:center; line-height:30px; }
.branchWrap .tab-item > li.on { background:#fff; border:1px solid #260F54; color:#260F54; }

 
/* 공지사항 */
.noticeWrap .tab-item { justify-content:flex-start; margin-bottom:20px; }
.noticeWrap .tab-item > li { font-size:22px; }
.noticeWrap .tab-item > li.on { border-bottom:0; color:#111; }
.noticeWrap .tab-item > li:first-child { margin-left:0; }
.noticeWrap .tab-cont { height:180px; flex-direction:column; overflow:hidden; margin:0; }
.noticeWrap .tab-cont a { display:flex; justify-content:space-between; font-size:16px; color:#757575; }
.noticeWrap .tab-cont a > span:nth-child(1) { width:85%; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }
.noticeWrap .tab-cont a > span:nth-child(2) { font-size:14px; color:#999; }


/* */
.mainSec05 .inner { display:flex; justify-content:space-between; padding:30px; border:1px solid #dddddd; border-radius:12px; }
.mainSec05 .inner > ul { display:flex; flex-direction:column; justify-content:space-between; flex:1; }
.mainSec05 .infoBox { flex:2; padding:0 0 0 100px; border-right:1px solid #dddddd; border-radius:0; }
.mainSec05 .infoBox::before { content:''; position:absolute; top:0; left:0; width:80px; height:80px; background:#F4F4F5; background-size:100%; border-radius:50%; }
.mainSec05 .infoBox:nth-child(1)::before { background:#F4F4F5 url("../images/main/ico_msg.png") no-repeat center center; }
.mainSec05 .infoBox:nth-child(2)::before { background:#F4F4F5 url("../images/main/ico_call.png") no-repeat center center; }
.mainSec05 .infoBox > dt { font-size:24px; }
.mainSec05 .infoBox > dt > span { font-size:16px; color:#8052DC; }

/* sns */
.snsArea { display:flex; justify-content:center; margin:65px 0; }	
.snsArea > li { width:43px; height:43px; font-size:0; margin-right:20px; }
.snsArea > li:last-child { margin:0; }
.snsArea > li > a { display:block; width:100%; height:100%; background-size:100%; }
.snsArea > .fbook > a { background:url("../images/main/ico_fbook.png") no-repeat center center; }
.snsArea > .insta > a { background:url("../images/main/ico_insta.png") no-repeat center center; }
.snsArea > .twitter > a { background:url("../images/main/ico_twitter.png") no-repeat center center; }


/* bxslider - PAGER */
.bx-wrapper { margin:0; }
.bx-wrapper .bx-controls { position:absolute; bottom:25px; left:50%; display:flex; justify-content:center; flex-flow:row-reverse; padding:7px 12px; transform:translate(-50%, 0); border:1px solid #BFBAC8; border-radius:12px; }
.bx-wrapper .bx-controls::before { content:''; position:absolute; top:0; left:0; z-index:-1; width:100%; height:100%; background:#ffffff; border-radius:12px; opacity:0.3; }
.bx-wrapper .bx-pager { position:static; display:flex; width:100%; }
.bx-wrapper .bx-pager.bx-default-pager a { display:block; width:10px; height:10px; margin:0 4px; font-size:0; background:#bbbbbb; border-radius:5px; -moz-border-radius: 5px;
	-webkit-border-radius:5px; }

/*.bx-wrapper .bx-pager.bx-default-pager a:hover,*/
.bx-wrapper .bx-pager.bx-default-pager a.active { width:24px; background:#612AD0; border:0; border-radius:6px; }

.bx-wrapper .bx-controls-auto { position:static; }
.bx-wrapper .bx-controls-auto .bx-start { display:none; }
.bx-wrapper .bx-controls-auto .bx-stop { position:relative; display:block; width:10px; height:10px; background:url("../images/main/ico_pause2.png") no-repeat center center; cursor:pointer; }
.bx-wrapper .bx-controls-auto .bx-stop:hover, .bx-wrapper .bx-controls-auto .bx-stop.active { background-position:0; }
